# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=us-east-2

# Código de acceso familiar
VITE_FAMILY_CODE=JUANSEBAS2026

# Administradores (cédulas separadas por coma)
ADMIN_CEDULAS=1003422365

# Django
DEBUG=False
DJANGO_SECRET_KEY=cambia-esto-por-una-clave-segura-larga
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost

# Base de datos
DATABASE_URL=postgresql://USUARIO:PASSWORD@HOST:5432/NOMBRE_DB

# Frontend
VITE_API_URL=http://localhost:8000/api
